# Gradle and Android Studio
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
/caches
/daemon
/native
/wrapper
.externalNativeBuild
.cxx
.kotlin

# Module specific build folders
*/build/

# Do not include APKs in the source tree (we will use GitHub Releases for this)
*.apk
*.ap_
*.aab

# Keystore files
*.jks
*.keystore

# DO NOT UPLOAD API KEYS
# Assuming your keys are here. If they are in local.properties, they are already ignored above.
AppConfig.kt
future_roadmap.md
assemblyai.md
*.txt

# Gradle internals and caches
.gradle/
caches/
build/

# Ignore full Gradle distributions (but keep the small wrapper jar)
wrapper/dists/kotlin/
daemon/
android/
native/
AppConfig.example.kt
.github/
